body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#map {
  width: 100vw;
  height: 100vh;
}

.map-overlay {
  font: medium 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 170pt;
  top: 0;
  left: 0;
  padding: 8pt;
  cursor : default;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.map-overlay h2 {
  line-height: 2em;
  display: block;
  margin: 0 0 1em;
}

.map-overlay .legend .bar {
  height: 1em;
  width: 100%;
  background: linear-gradient(to right, #49E3CE, #D8FEB5, #FEEDB1, #FEAD54, #D1374E );
  /*  background: linear-gradient(to right, #0198bd, #49E3CE, #D8FEB5, #FEEDB1, #FEAD54, #D1374E ); */
}
.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.map-overlay input #slider_date {
  height: 2em;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em;
}

.map-overlay-inner fieldset:last-child {
  margin: 0;
}

.map-overlay-inner select {
  width: 100%;
}

.map-overlay-inner label {
  display: block;
  font-weight: bold;
  margin: 0 0 0.1em;
}

.map-overlay-inner .date label {
  font-size: xx-large;
}

.thin-border button {
  border-width: 0.1em;
}
.lightblue button {
  background-color: aliceblue;
  color: darkblue;
}
.blue button {
  background-color: blue;
}
.green button {
  background-color: green;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10pt + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400pt;
  background: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.3);
  padding: 1em 2em;
  margin: 8pt;
  font-size: 11pt;
  line-height: 2;
  color: #6b6b76;
  overflow: auto;
  cursor: default;
}

.navigation-control {
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 2em;
  zIndex: 1;
}

.chart-panel {
  position: absolute;
  bottom: 2em;
  right: 0;
  max-width: 800pt;
  background: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.3);
  padding: 1em 2em;
  margin: 8pt;
  font-size: 11pt;
  line-height: 2;
  color: #6b6b76;
  overflow: auto;
  cursor: default;
}

.chart-title {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

.chart-area {
  width: 350pt;
  height: 300pt;
  margin: 2pt;
  font-size: 10pt;
}

.chart-switch {
  font-size: 12pt;
  margin: 2pt;
}

.tooltip {
  position: absolute;
  zIndex: 1;
  pointerEvents: none;
  opacity: 0.8;
}
.tooltip-desc {
  padding: 1em;
  font-size: 10pt;
  line-height: 1.6em;
  color: whitesmoke;
  border-radius: 0.3em;
  background: #000;
  width: 100%;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 4pt;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 0.5em #627295;
  border-radius: 0.3em;
  font-size: large;
  width: 75pt;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(1em);
  transform: translateY(1em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-small {
  display: inline-block;
  text-decoration: none;
  background: #448030;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 0.1em #204010;
  border-radius: 0.05em;
  font-size: smaller;
}
.btn-square-small:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.blue .btn-square-small {
  background: #4480c0;
}

.hidden {
  display: none;
}
.shown {
  display: block;
}
.pre {
  white-space: pre-wrap;
  font-size: small;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.scrollable-textbox {
  height: 300pt;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  overflow: scroll;
}

.chart-panel .scrollable-textbox {
  height: 325pt;
}

.scrollable-textbox table{
  max-width: 500pt;
  border-collapse: collapse;
  border-spacing: 0;
}
.scrollable-textbox table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 0.1em solid #3c6690;
  border-top: 0.1em solid #3c6690;
  border-bottom: 0.1em solid #3c6690;
  box-shadow: 0 0.1em 0.1em rgba(255,255,255,0.3) inset;
  max-width: 40%;
  min-width: 60pt;
  padding: 1em 0;
  font-size: 8pt;
}
.scrollable-textbox table th, .scrollable-textbox table td{
  padding: 1pt 10pt;
  text-align: center;
  font-size: 9pt;
}
.scrollable-textbox table tr:nth-child(odd){
  background-color: #eee
}

.chart-panel-left {
  float: left;
}
.chart-panel-right {
  float: right;
}

.chart-checkbox {
  float: right;
}

.chart-button-left {
  float: left;
  margin-left: 30pt;
}
.chart-button-right {
  float: right;
}
.checkbox-input{
  display: none;
}
.checkbox-parts{
  padding-left: 20pt;
  padding-top: 1pt;
  position:relative;
  margin-right: 0;
}
.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12pt;
  height: 12pt;
  border: 0.1em solid #999;
  border-radius: 0.2em;
}
.checkbox-input:checked + .checkbox-parts{
  /*color: #d01137;*/
  font-weight: bold;
}
.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -0.2em;
  left: 0.2em;
  width: 0.4em;
  height: 0.9em;
  transform: rotate(40deg);
  border-bottom: 0.2em solid #d01137;
  border-right: 0.2em solid #d01137;
}

.sns-text {
  display: inline-block;
  font-weight: bold;
}
.sns-icon {
  display: inline-block;
  color: #0000b0;
  padding: 0.3em;
  font-size: 16pt;
}

.recharts-tooltip-wrapper .custom-tooltip {
  max-width: 200px;
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: hsla(0, 0%, 100%, .9);
  padding: 10px
}

.recharts-tooltip-wrapper .custom-tooltip .label {
  margin: 0;
  color: #666;
  font-weight: 700
}

.recharts-tooltip-wrapper .custom-tooltip .desc {
  margin: 0;
  color: #101010
}

.recharts-tooltip-wrapper .custom-tooltip .intro {
  border-top: 1px solid #f5f5f5;
  margin: 0
}
